set scro ${SCRIPTDIR}/mhdIO.scro 
source ${SCRIPTDIR}/mhdIO.tcl

dataFile -name "MetaImage" 	\
    -ext "mhd" 				\
    -package hxcore 		\
    -load  hxReadByTcl 		\
    -loadArgs "-cmd readmhdfile"


module 	-name 		"ExportMhd" 			\
		-primary	"HxUniformScalarField3"	\
		-package	"hxscriptobj" 			\
		-category	"Export" 				\
		-proc {
			set mod [[create HxScriptObject] setLabel "ExportMhd"]
			$mod script setValue  $scro 
			$mod fire
			$PRIMARY deselect 
		}